<!DOCTYPE HTML>
<html>
    <head>
        <title>POI Interactive Presentation Board</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
    </head>
    <body>
        
        <div id = "PresBoard" align="center">
            <div id = "Logo"><img /></div>

            <div id = "MenuBar" >
                <div id = "DrawingItem"><img /></div>
                <div id = "PointerItem"><img /></div>
                <div id = "CommentItem"><img /></div>
                <div id = "MailItem"><img /></div>
                <div id = "RecordItem"><img /></div>
                <div id = "FullscreenButton"><img /></div>
            </div>

            <div id= "AudioStreamingPlayer">
                <video controls="controls"></video>
            </div>

            <div id = "PresBoardSideBarSlideRegion">
                <div id = "PresBoardSideBarContainer">
                    <div id = "PresBoardSideBar">
                    </div>
                </div>
            </div>

            <div id = "MainContentSlideRegion">
                <div id = "MainContentContainer">
                    <div id = "PresBoardMainDisplay">
                        <img class = "MainSlideView" alt="" src="" />
                    </div>
                </div>
                
            </div>


            <div id = "FootBarContainer">
                <img id = "CommentsLabel" />
                <div id = "NumCommentsLabelContainer">
                    <img id = "NumCommentsIcon" />
                    <span id = "NumCommentsLabel">0</span>
                </div>
            </div>

            <div id="whiteBoard">
                <div id = "canvasStack">
                    <img id = "imageLayer"/>
                </div>
            </div>

            <div id="laserPointerLayer">
                <img id = "laserPointer" src="" />
            </div>
        </div>

        <!--video width="640" height="480" controls="controls"-->
            <!--source src="http://192.168.1.105:8091/content/Streaming/first.m3u8" type="application/vnd.apple.mpegurl"/-->
        <!--/video-->

        @RenderBody()
        </body>
</html>