<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>POI Interactive Presentation Board</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
    </head>
    <body>
        
        @RenderBody()
        <div id = "PresBoard" align="center">
            <div id = "Logo"><img /></div>

            <div id = "MenuBar" >
                <div id = "DrawingItem"><img /></div>
                <div id = "PointerItem"><img /></div>
                <div id = "CommentItem"><img /></div>
                <div id = "MailItem"><img /></div>
            </div>

            <div id = "PresBoardSideBarSlideRegion">
                <div id = "PresBoardSideBarContainer">
                    <div id = "PresBoardSideBar">
                    </div>
                </div>
            </div>

            <div id = "MainContentSlideRegion">
                <div id = "MainContentContainer">
                    <div id = "PresBoardMainDisplay">
                        <img class = "MainSlideView" alt="" src="" />
                    </div>
                </div>
            </div>

            <div id = "FootBarContainer">
                <span id = "NumCommentsLabel">0</span>
                <img id = "CommentsLabel" />
            </div>

            <div id="whiteBoard">
                <div id = "canvasStack">
                    <img id = "imageLayer"/>
                </div>
            </div>

            <div id="laserPointerLayer">
                <img id = "laserPointer" src="" />
            </div>
        </div>

        </body>
</html>