<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <style type="text/css"><!--
            #whiteboard  
            {
                position: absolute;
                background-color: #e0ffff;
                width : 1000px;
                height: 1000px;
            }
            
            #canvasStack
            {
                position:relative;
            }
            
            canvas 
            {
                position : absolute;
                border: 1px solid #000;
            }
            
            img
            {
                border: 1px solid #000;
                width: 500px;
                height: 400px;
            }
        --></style>
    </head>
    <body>
        <div id="whiteboard">
            <div id="canvasStack" title="POI Drawing board">
                <canvas id = "imageLayer" width = 500 height = 400></canvas>
            </div>
        </div>

        <div id="presBoard">
            <img id="curSlide" alt = "Slide info is currently not available"/>
        </div>
        @RenderBody()  
    </body>
</html>